---
import Layout from '@layouts/Layout.astro';

const CONTENT_ROUTES = [
  {
    label: 'ARMAS',
    href: '/contenido/armas',
    image: '/content/weapons-content.webp',
    available: true
  },
  {
    label: 'MAPAS',
    href: '/contenido/mapas',
    image: '/content/maps-content.webp',
    available: false
  },
  {
    label: 'SPRAYS',
    href: '/contenido/sprays',
    image: '/content/sprays-content.webp',
    available: false
  },
  {
    label: 'CARTAS',
    href: '/contenido/cartas',
    image: '/content/cards-content.webp',
    available: false
  }
]
---

<Layout title="Info Valorant | Contenido">
  <section class="max-w-[1920px] bg-black-play py-16 text-white-play mx-auto min-h-dvh">
    <h1 class="text-7xl font-semibold text-center mb-5 font-secondary">CONTENIDO</h1>
    <p class="text-center text-white-play text-md lg:text-xl">En esta sección encontrarás contenido relacionado con Valorant.</p>
    <div class="max-w-6xl flex mx-auto justify-center flex-wrap gap-6 py-5">
      {
        CONTENT_ROUTES.map(({ label, href, image, available }) => (
          <a 
            href={href}
            class={`relative w-72 h-48 lg:w-[540px] lg:h-80 bg-black group overflow-hidden ${ available ? 'cursor-pointer' : 'pointer-events-none' }`}
          >
            <img 
              class="object-cover w-full h-full group-hover:scale-105 transition-all duration-300 ease-in-out"
              src={image} 
              alt=""
            />
            <h2 
              class="absolute text-2xl lg:text-4xl pl-3 py-1 lg:py-3 text-white-play bg-black z-30 bottom-0 w-full font-secondary"
            >
              {label} <span class="text-lg lg:text-2xl pl-2 text-red-play">{ available ? '' : ' PRÓXIMAMENTE'}</span>
            </h2>
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  section {
    background-image: url('/content/background-content.webp');
    background-size: cover;
    background-position: center;
  }
</style>

