---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Info Valorant | Página no disponible'>
  <section class="max-w-[1920px] min-h-[80dvh] py-12 mx-auto flex flex-wrap justify-center content-start items-center sm:grid-cols-2 text-white-play">
    <img class="w-64 h-64 lg:w-96 lg:h-96" src="/error-404.webp" alt="Imagen de Error de la página">
    <article class="flex flex-col justify-center items-center">
      <h1 class="text-3xl sm:text-4xl lg:text-5xl font-secondary">Página no disponible</h1>
      <p class="text-xs sm:text-md lg:text-lg">Lo sentimos, pero la página que estás buscando no existe.</p>
      <a
        class="bg-red-play text-white-play w-64 font-medium transition-all duration-300 ease-in-out mt-3 py-5 text-center hover:bg-white-play hover:text-black-play"
        href="/"
      >
      VOLVER AL INICIO
    </a> 
    </article>
  </section>
</Layout>