<section class="w-full max-w-[1920px] mx-auto bg-black flex flex-col items-center py-16 text-white-play gap-y-8 pb-32">
  <img 
    class="mt-5 w-36 lg:w-48"
    src="/logo-header.webp"
    alt="Logo de Valorant"
  >
  <p class="font-secondary text-3xl lg:text-6xl text-center">INSTALA VALORANT Y SUMÉRGETE AL MUNDO</p>
  <a
    class="bg-red-play text-white-play px-7 py-5 font-medium outline-white-play outline-2 outline-offset-3 hover:bg-white-play hover:text-black-play transition-all duration-300 ease-in-out"
    href=""
  >
    JUGAR AHORA
  </a>
</section>