<section class="max-w-[1920px] mx-auto bg-black-play flex flex-col-reverse lg:flex-row items-center justify-center py-14">
  <div class="flex flex-col justify-center px-6 py-4">
    <span class="text-red-play text-5xl lg:text-8xl font-semibold font-secondary mb-3 lg:mb-6 max-w-xl">SOMOS VALORANT</span>
    <p class="text-white-play text-lg lg:text-xl font-semibold">DESAFÍA LOS LÍMITES</p>
    <p class="text-justify text-sm lg:text-lg text-white-play max-w-[540px]">Combina tu estilo y experiencia en un escenario global y competitivo. Tienes 13 rondas para atacar y defender tu lado con armas precisas y habilidades tácticas. Además, al contar con una sola vida por ronda, tendrás que pensar más rápido que tu oponente si quieres sobrevivir. Enfréntate a enemigos en los modos competitivo y normal, así como en Deathmatch y Spike Rush.</p>
    <a
      class="bg-red-play text-white-play w-64 font-medium transition-all duration-300 ease-in-out mt-3 py-5 text-center hover:bg-white-play hover:text-black-play"
      href="/modalidades"
    >
      VER TODOS LOS MODOS
    </a> 
  </div>
  
  <img
    class="w-72 lg:w-[500px]"
    src="/group-spray.webp"
    alt="Imagen de un spray grupal"
  >
</section>