<section class="max-w-[1920px] mx-auto bg-white-play flex flex-col lg:flex-row items-center justify-center py-14">
  <img
    class="w-72 lg:w-[500px]"
    src="/agents-spray.webp"
    alt="Imagen de un spray grupal"
  >
  <div class="flex flex-col justify-center px-6 py-4">
    <span class="text-black-play text-5xl lg:text-8xl font-semibold font-secondary mb-3 lg:mb-6 max-w-xl">LOS AGENTES</span>
    <p class="text-black-play text-lg lg:text-xl font-semibold">LA CREATIVIDAD ES TU MEJOR ARMA</p>
    <p class="text-justify text-sm lg:text-lg text-black-play max-w-[540px]">Más allá de las armas y las balas, podrás elegir a un agente dotado de habilidades versátiles, veloces y letales con las que crearás oportunidades para sobresalir. Ningún agente se jugará igual, ni ningún momento memorable se verá igual.</p>
    <a
      class="bg-red-play text-white-play w-64 font-medium transition-all duration-300 ease-in-out mt-3 py-5 text-center hover:bg-black-play hover:text-white-play"
      href=""
    >
      VER TODOS LOS AGENTES
    </a> 
  </div>
</section>