<section class="max-w-[1920px] mx-auto bg-white-play flex flex-col lg:flex-row items-center justify-center py-14">
  <img
    class="w-72 lg:w-[460px]"
    src="/wingman-stats.webp"
    alt="Imagen de un spray grupal"
  >
  <div class="flex flex-col justify-center px-6 py-4">
    <span class="text-black-play text-5xl lg:text-8xl font-semibold font-secondary mb-3 lg:mb-6 max-w-xl">LOS STATS</span>
    <p class="text-black-play text-lg lg:text-xl font-semibold">QUE TU NOMBRE SEA RECONOCIDO</p>
    <p class="text-justify text-sm lg:text-lg text-black-play max-w-[540px]">Sumérgete en la intensidad de las partidas competitivas, donde cada movimiento cuenta y cada decisión puede ser la diferencia entre la victoria y la derrota. En plataformas como Tracker.gg, podrás revisar tu historial de partidas, analizar tus estrategias y mejorar tus habilidades. Observa tus logros, aprende de tus errores y prepárate para dominar el campo de batalla.</p>
    <a
      class="bg-red-play text-white-play w-64 font-medium transition-all duration-300 ease-in-out mt-3 py-5 text-center hover:bg-black-play hover:text-white-play"
      href=""
    >
      CONOCE LOS STATS
    </a> 
  </div>
</section>